@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
$headers-color: #182370;
$headers-accent-color: #284DF8;
$text-color: #5162B4;
$bg-color: #E9EBF6;
$action-color: #FE9F27;
$card-1-color: #B3DAF9;
$card-2-color: #C1E2C3;
$card-3-color: #FFF7C0;
$card-4-color: #DCB7E2;
:root{
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background: center / cover no-repeat url('bg.svg'), linear-gradient(180deg, #E9EBF6 0%, #F3F5FB 49.48%, #F9FAFD 78.12%, #FFFFFF 100%);
}
h1, h2{
    color: $headers-color;
}
p{
    color: $text-color; 
}
.frame{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1.5rem;
    min-height: 100vh;
    padding: 1.5rem;
}
.column{
    display: grid;
    place-content: center;
    padding: 1rem 1.5rem;
}
.heading{
    h1{
        font-size: 3rem;
        font-weight: normal;
        margin: 1.125rem 0;
        padding-top: 1.25rem;
        position: relative;
        &::before{
            content: 'lorem ipsum';
            font-size: 0.75rem;
            font-weight: normal;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            color: $text-color;
        }
        .accent{
            color: $headers-accent-color;
        }
    }
    p{
        font-size: 1rem;
        line-height: 1.75rem;
        letter-spacing: 0.01em; 
    }
    button{
        cursor: pointer;
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 0.03em;
        padding: .8125rem 1rem;
        border: none;
        border-radius: 4px;
        color: white;
        background: $action-color;
        &:hover{
            background: #F1921A;
        }
    }
}
.cards{
    display: grid;
    gap: 1.5rem 0;
}
.card{
    padding: 1.25rem;
    background-color: white;
    border: #DCDBDC solid 1px;
    border-radius: 4px;
    h2{
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.01em;
    }
    p{
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.01em;   
        margin: 0; 
    }
    .card-img{
        display: grid;
        place-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 5px;
    }
    .card-1--img{
        background: $card-1-color;
        img{
            filter: invert(41%) sepia(96%) saturate(2388%) hue-rotate(191deg) brightness(91%) contrast(89%);
        }
    }
    .card-2--img{
        background: $card-2-color;
        img{
            filter: invert(47%) sepia(14%) saturate(1729%) hue-rotate(74deg) brightness(101%) contrast(91%);
        }
    }
    .card-3--img{
        background: $card-3-color;
        img{
            filter: invert(73%) sepia(64%) saturate(1961%) hue-rotate(336deg) brightness(100%) contrast(94%);
        }
    }
    .card-4--img{
        background: $card-4-color;
        img{
            filter: invert(18%) sepia(45%) saturate(4251%) hue-rotate(273deg) brightness(95%) contrast(92%);
        }
    }
}
@media ( min-width: 620px ) {
    .frame{
        padding: 1.5rem 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    }
    .cards{
        grid-template-rows: repeat(2, 1.5rem 1fr 1.5rem);
        grid-auto-columns: minmax(0,1fr);
        gap: 0 1.5rem;
    }
    .card-1{
        grid-row: 1 / span 2;
    }
    .card-2{
        grid-row: 2 / span 2;
    }
    .card-3{
        grid-row: 4 / span 2;
    }
    .card-4{
        grid-row: 5 / span 2;
    }
}